PORT=8080
FRONTEND_URL=http://localhost:5173
DATABASE_URL=host=localhost user=gorm password=gorm dbname=gorm port=9920 sslmode=disable TimeZone=Asia/Shanghai
JWT_SECRET_KEY=your-secret-key
SALT=your-salt
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
