.page-container {

    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(#f3f3f4, 0.8);
    z-index: 80;

    .form-container {

        position: relative;
        margin: auto;
        background-color: white;
        width: 35%;
        border-radius: 6px;
        padding: 1rem;
        transform: translateY(-5%);
        box-shadow: var(--default-shadow);

        .form-title {

            display: flex;
            height: 4vh;
            width: 100%;

            h4 {
                margin: auto;
            }

            .close-icon {
                position: absolute;
                top: 0.6rem;
                right: 1rem;
                background-color: var(--default-bg);
                padding: 0.5rem;
                border-radius: 50%;
            }

            .close-icon:hover {
                background-color: var(--default-bg-hover);
                cursor: pointer;
            }
        }

        .form-body {

            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 2vh;
            max-height: var(--default-modal-max-height);
            overflow-y: auto;
            overflow-x: hidden;
            box-sizing: border-box;
            padding-right: 5px;

            .card-container {

                display: flex;
                flex-direction: column;
                background-color: white;
                width: 100%;
                border-radius: 6px;

                .card-body {

                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .card-body-profile {

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.5vw;
                        padding: 1rem 0 0;
                        width: 100%;

                        .profile-icon {

                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            object-fit: cover;

                        }

                        div {

                            display: flex;
                            flex-direction: column;

                            h5 {
                                font-weight: 500;
                            }

                            h6 {
                                color: gray;
                                font-weight: 400;
                            }
                        }
                    }

                    .card-content-text {

                        width: 100%;
                        height: 100%;
                        margin: 1rem 0;

                        textarea {

                            width: 100%;
                            height: 15vh;
                            border: none;
                            outline: none;
                            resize: none;
                        }

                        textarea::placeholder {
                            font-size: large;
                        }

                    }

                    .card-content-file {

                        display: grid;
                        grid-template-columns: 1fr;
                        margin: 0;
                        padding: 0;
                        gap: 0.1rem;
                        background-color: var(--default-bg);
                        border: var(--default-border);

                        .uploaded-file {

                            width: 100%;
                            height: auto;
                        }

                        .uploaded-file-long {

                            width: 100%;
                            height: auto;
                            grid-column: span 2;
                        }
                    }

                    .card-content-file-multi {

                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        margin: 0;
                        padding: 0;
                        gap: 0.1rem;
                        background-color: var(--default-bg);
                        border: var(--default-border);

                        .uploaded-file {

                            width: 100%;
                            height: auto;
                        }

                        .uploaded-file-long {

                            width: 100%;
                            height: auto;
                            grid-column: span 2;
                        }
                    }

                    .card-stats {

                        display: flex;
                        flex-direction: row;
                        padding: 0.5rem;
                        align-items: center;
                        border-top: var(--default-border);
                        border-bottom: var(--default-border);
                        justify-content: space-between;

                        div {

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5rem;
                            color: gray;

                            font-size: small;
                        }

                    }

                    .card-interact {

                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        width: 100%;
                        height: 2em;
                        border-bottom: var(--default-border);

                        div {

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5rem;
                            color: gray;
                            font-weight: 500;
                            font-size: small;
                            cursor: pointer;
                            width: 100%;
                            height: 100%;
                            justify-content: center;

                            .interact-icon {

                                width: 1.3em;
                                height: auto;
                            }

                        }

                        div:hover {
                            background-color: var(--default-bg-hover);
                        }

                        .card-like-active {
                            color: var(--default-blue-text);
                        }

                    }

                    .comment-container {

                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                        padding: 1em 0;
                    }

                }
            }

        }

        .comment-input-container {

            position: absolute;
            width: 100%;
            background-color: white;
            left: 0;

         
            .comment-input {

                display: flex;
                gap: 0.5vw;
                flex-direction: row;
                padding: 1rem;
                width: 93%;

                .profile-icon {

                    width: 2rem;
                    height: 2rem;
                    margin-bottom: auto;
                    border-radius: 50%;
                    object-fit: cover;

                }

                div {

                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    background-color: var(--default-bg);
                    border-radius: 10px;
                    align-items: center;

                    .send-icon {
                        margin: auto;
                        color: gray;
                        margin-right: 0.5rem;
                    }

                    .send-icon:hover {
                        color: var(--default-blue-text);
                    }

                    input {

                        background-color: transparent;
                        color: black;
                        border: none;
                        outline: none;
                        width: 85%;
                    }
                }

            }
        }
    }



}