.chat-container {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.75rem;

    .profile-icon {

        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .chat-subcontainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;

        h5 {
            align-self: self-end;
            font-weight: 500;
        }

        .chat-content {

            background-color: var(--default-blue-text);
            border-radius: 5px 10px 0px 10px;
            padding: 0.5rem;
            text-align: end;

            span {
                font-size: small;
                color: white;
            }

            .file {
                max-width: 20rem;
                max-height: 20rem;
                object-fit: cover;
            }
            
            .post {
                text-align: start;
                max-width: 30rem;
            }
        }
    }
}


.other-chat-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

    .profile-icon {

        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .other-chat-subcontainer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.25rem;

        h5 {
            font-weight: 500;
        }

        .other-chat-content {

            background-color: white;
            border-radius: 10px 5px 10px 0;
            padding: 0.5rem;

            span {
                font-size: small;
            }

            .file {
                max-width: 20rem;
                max-height: 20rem;
                object-fit: cover;
            }

            .post {
                text-align: start;
                max-width: 30rem;
            }
        }
    }
}