.page-container {

    display: flex;
    width: 100%;
    min-height: 100vh;

    .sidebar {

        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 25rem;
        background-color: white;
        box-shadow: var(--default-shadow);
        padding: var(--default-sidebar-padding);
        position: fixed;

        .sidebar-profile {

            display: flex;
            flex-direction: column;
            padding: 1rem 1rem;
            gap: 0.5rem;

            .sidebar-profile-title {

                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5em;

                #back-icon {
                    width: 1.25em;
                    height: auto;
                    color: rgb(95, 94, 94);
                    border-radius: 50%;
                    padding: 0.5em;
                }

                #back-icon:hover {
                    background-color: var(--default-bg-hover);
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    gap: 0;

                    h6 {
                        font-weight: 400;
                        font-size: small;
                    }
                }
            }

            .sidebar-search {

                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0 max(1vw, 12px);
                border-radius: 40px;
                background-color: #f0f2f5;
                gap: 0.5rem;
                margin-bottom: 0.5rem;

                #search-icon {
                    width: 1.25em;
                    height: auto;
                }

                input {
                    border: none;
                    outline: none;
                    height: 100%;
                    background: transparent;
                    padding: 1vh 0;
                }

            }

            .create-btn{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;
                width: 100%;
                padding: 0.6rem 0;
                background-color: rgba(#1877f2, 0.1);
                color: var(--default-blue-text);
            }

            .group-profile-nav-container {

                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                margin-top: 0.5rem;

                h4 {
                    font-weight: 500;
                }

            }
        }

    }

    .page-content {

        display: flex;
        flex-direction: column;
        width: calc(100% - var(--sidebar-width));
        height: 100%;
        gap: 1em;

    }

}

.card-body-profile {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    padding: 0.5rem 0.25rem;
    border-radius: var(--default-border-radius);

    .profile-icon {

        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;

    }

    h5 {
        font-weight: 500;
    }


}

.card-body-profile:hover {
    background-color: var(--default-bg);
}